body {
    font-family: "Times New Roman", serif;
    line-height: 1.25;
    padding: 40px 20px;
}

.header {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table {
    border: 1px solid green;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table caption {
    font-size: 1.5em;
    margin: .25em 0 .75em;
}

table tr {
    background: #FFEBCD;
    border: 1px solid rgb(0, 0, 0);
    padding: .35em;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: #000000;
    color: white;
}

table td img {
    text-align: center;
}

.container form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #000000;
    transition: all 0.3s linear;
    cursor: pointer;
}

form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: #000000;
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button,
.backBtn {
    margin-right: 14px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 50px;
    clear: both;
}

@media screen and (max-width: 600px) {
    .toggle_btn {
            display: none;
        }
    
        .nav_menu {
            display: block;
        }
    }
    
}
@media screen and (max-width: 600px) {
    
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        display: none;
    }

    table tr {
        border-bottom: 3px solid green;
        display: block;
        margin-bottom: .725em;
    }

    table td {
        border-bottom: 1px solid green;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}